.google-map {
  width: 100%;
}

.map-wrapper {
  max-width: 10px;
  border: 2px solid red;
}

/* .map-wrapper > .google-map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border: none;
} */
